.navbar{padding:12px 00px }
.navbar-inverse {background: white; border: none}

/* ------- button  -------*/


.navbar-inverse .navbar-toggle{border-color:silver}
.navbar-inverse .navbar-toggle:hover {background:white}
.navbar-inverse .navbar-toggle .icon-bar{background: gray}
.navbar-toggle {border-radius: 0px;}


/*  ----- logo  -----   */


.navbar-inverse .navbar-brand{color:black;}
.navbar-inverse .navbar-brand:hover{color:black;}
.navbar-inverse .navbar-nav>li>a{color:black;}
.navbar-inverse .navbar-nav>.open>a{background: white; color:black}
.navbar-inverse .navbar-nav>.open>a:hover{background: white;}
.navbar-inverse .navbar-nav>li>a:hover {color:#ea3d69;}
.dropdown-menu>li>a:focus{color: #262626;}
.flo{float:right;}



/*   -------   footer  ------  */

.row1 {background:#292828; padding:40px 00px;     margin-right: 0px;
    margin-left: 0px }
a{color:#818384;}
a:hover {color:#ea3d69; text-decoration: none}
p{color:#818384;}
.a{color:white}

.row2{padding-top:40px }

h1{color:white}
.fab{color:white; padding:00px 20px }   
.fab:hover{color:#ea3d69; transition:2s;}   


/*   -----  dropdown list ------- */



.dropdown-menu {padding:00px}
.navbar-nav>li>.dropdown-menu{border:none}
.dropdown-menu>li>a:hover {background: black; color:white}

/*  ------  home  -------  */

h2{color:white}
.h5{color:white; background: black; padding:20px 00px ; margin:0px; font-size:20px}
.p4{background:white;  color:#292828; margin:0px; padding:20px 12px 00px 12px; font-size: 13px}
.p5{background:white;  color:#292828; margin:0px; padding:00px 12px 20px 12px;  font-size: 13px}




/* -------  service  -------- */



.row3{padding:10px 00px;  background:#ea3d69 ;  margin-right: 0px;
    margin-left: 0px }
.row4{background: none;}
.row5{ margin-right: 0px;
    margin-left: 0px;}
.row6{margin-top:50px; margin-right: 0px;
    margin-left: 0px;}
h4{font-size: 25px}
.h4{background: black; padding:20px 00px; margin-top: 0px}
.p{color:white; font-size: 30px; padding-top:5px}
.p1{padding:00px 12px}
.p2{padding-top:40px}
.col-md-12{padding:50px 00px ;}
#col{padding:0px; border:1px solid silver; width:32%; box-shadow:00px 00px 8px 00px black; }
.i{font-size: 40px; color:#ea3d69; margin-top: 50px}
.mar1{margin-top: 20px}
.mar{margin-left: 2%;}



/* --------   fees  ------  */
.p3{padding:8px  20px; border-top:1px solid white; color:#5f5a5a;  font-size: 13px}
.col{background: #e6e6e6;  padding:0px; border:1px solid #ea3d69; width:32%; }
.hh{padding:00px 20px; font-size: 23px}
.a1{background: #ea3d69; color:white; padding:10px 8px; margin-top: 10px}
.a1:hover{color:white;  background: #ea3d69}
.hhh{font-size: 18px}
.p7{padding:16px 20px; border-top:1px solid white;}


/* ------  gallery   ----- */

.aa{background: none; color:#3e3c3c}
.nav>li>a:hover{background: none; color: #ea3d69}



/* ------- about ------ */


#demo{width:100%; height:500px;}
#demo  img{width:100%; height:500px;}

.h2{color:#ea3d69; font-size:45px}
.img-circle{border:1px solid silver}
.p6{color:black; font-size: 20px}




/* ----- contact ------ */


label{color:gray}
.form-control{border:none; border-top:1px solid #c1bcbc; border-radius:0px}
#input{border-bottom: 1px solid #c1bcbc; padding:100px 00px; border-top:none}

 

@media(max-width:900px)


    .flo{float:left;}
/* ------  fees -------*/





@media(max-width:768px)
{
#col{width:100%}
.mar{margin-left: 0%; margin-top: 10px}
   .col {
    color: #383435;
    background: #efe;
    padding: 0px;
    border: 1px solid #ea3d69;
       width: 100%;}

    
    
    .img1{padding-bottom:10px}
}